/*--------------------------
--------   General ---------
--------------------------*/


/*------   Font -------*/

		@font-face {
		    font-family: 'kanitlight';
		    src: url('../fonts/kanit/kanit-light-webfont.eot');
		    src: url('../fonts/kanit/kanit-light-webfont.eot?#iefix') format('embedded-opentype'),
		         url('../fonts/kanit/kanit-light-webfont.woff2') format('woff2'),
		         url('../fonts/kanit/kanit-light-webfont.woff') format('woff'),
		         url('../fonts/kanit/kanit-light-webfont.ttf') format('truetype');
		    font-weight: normal;
		    font-style: normal;
		}


		@font-face {
		    font-family: 'kanitmedium';
		    src: url('../fonts/kanit/kanit-medium-webfont.eot');
		    src: url('../fonts/kanit/kanit-medium-webfont.eot?#iefix') format('embedded-opentype'),
		         url('../fonts/kanit/kanit-medium-webfont.woff2') format('woff2'),
		         url('../fonts/kanit/kanit-medium-webfont.woff') format('woff'),
		         url('../fonts/kanit/kanit-medium-webfont.ttf') format('truetype');
		    font-weight: normal;
		    font-style: normal;
		}



/*------  style -------*/

			body{
				font-family: 'kanitlight';
				font-size: 20px;
			}

			.padding-x-0{
				padding:0px;
				behavior: url(../../pie/PIE.htc);
			}

			.padding-x-4{
				padding-right:24px;
				padding-left:24px;
				behavior: url(../../pie/PIE.htc);
			}

			.margin-x-0{
				margin:0;
				behavior: url(../../pie/PIE.htc);
			}

			.text-grey{
				color:#666666;
			}

			.text-white{
				color:white;
			}

			.text-blue{
				color:#00A1E9;
			}

			.text-darkblue{
				color:#020091;
			}

			.text-red{
				color:#FC361D;
			}

			.text-white{
				color:white;
			}

			.form-control{
				padding:0px;
				padding-top:5px;
				padding-left:10px;
				border: 2px solid #999999;
			}

			.icon-blue{
					color:#020091;
			}

			.icon-blue:hover{
				color:#2799D2;
			}

			.btn-primary{
				color:white;
				background-color:#00A1E9;
				border-radius: 4px;
				behavior: url(../../pie/PIE.htc);
			}

			.btn-primary:hover{
				color:white;
				background-color:#2E345C;
				behavior: url(../../pie/PIE.htc);
			}

			.btn-ghost{
				color:#2799D2;
				border-color: #2799D2;
				background-color:transparent;
				border-radius: 4px;
				behavior: url(../../pie/PIE.htc);
			}

			.btn-ghost:hover{
				color:white;
				background-color:#2799D2;
				behavior: url(../../pie/PIE.htc);
			}

			.btn-quantity{
				margin-left:5px;
				margin-top:8px;
				color:white;
				font-size:13px;
				background-color:#2799D2;
				border: 1px solid #696;
				padding: 1px 5px 1px 5px;
				text-align: center;
				border-radius: 25px;
				behavior: url(../../pie/PIE.htc);
			}

			.btn-quantity:hover{
				color:white;
				background-color:#2799D2;
				border: 1px solid #696;
				box-shadow: #666 0px 2px 3px;
				behavior: url(../../pie/PIE.htc);
			}

			.btn-title-plus{
				margin-left:5px;
				margin-top:8px;
				color:white;
				font-size:13px;
				background-color:#020091;
				border: 1px solid #020091;
				padding: 5px 9px 5px 9px;
				text-align: center;
				border-radius: 5px;
				behavior: url(../../pie/PIE.htc);
			}

			.btn-title-plus:hover{
				margin-left:5px;
				margin-top:8px;
				color:white;
				font-size:13px;
				background-color:#020091;
				border: 1px solid #020091;
				padding: 5px 9px 5px 9px;
				text-align: center;
				border-radius: 5px;
				box-shadow: #666 0px 2px 3px;
				behavior: url(../../pie/PIE.htc);
			}

			.position-relative{
				position:relative !important;
			}

			.mr-3{
				margin-right:18px;
			}

			.mr-4{
				margin-right:24px;
			}

			.ml-3{
				margin-left:18px;
			}

			.ml-4{
				margin-left:24px;
			}

			.mt-2{
				margin-top:14px;
			}

			.mt-3{
				margin-top:18px;
			}

			.mt-4{
				margin-top:24px;
			}

			.custom-container{
				padding:20px;
				background-color: #F6FBFF;
				position:relative;
				z-index: 0;
			}

			.title{
				color:#020091;
				font-size: 25px;
			}

			.custom-option{
				border-color:lightgrey;
				width:100%;
			}

			 .custom-option:after{
				content:"▼" !important;
				behavior: url(../../pie/PIE.htc);
			}

			.form-control-feedback{
				margin-top:10px;
				color:#666666;
				border-color: #666666;
			}

			select{
			  -moz-appearance: none!important;
			   -webkit-appearance: none!important;
			   appearance: none!important;
			}



/*--------------------------
-------  END General -------
--------------------------*/



/*--------------------------
--------   Index ---------
--------------------------*/

	/* navbar */

		.navbar{
			z-index: 0;
			background-color: white;
			border-bottom: 3px solid #999999;
			height:auto;
			behavior: url(../../pie/PIE.htc);
		}

		.navbar-brand{
			behavior: url(../../pie/PIE.htc);
		}

		.row{
			max-width: 100%;
			behavior: url(../../pie/PIE.htc);
		}

		.nav{
			height:110px;
			behavior: url(../../pie/PIE.htc);
		}

		.navbar-right{
			margin-right: 0px !important;
			padding-right:20px;
			behavior: url(../../pie/PIE.htc);
		}

		.navbar-nav{
			height:auto;
		}

		.nav > LI > A{
			transition: all 2s;
			behavior: url(../../pie/PIE.htc);
		}

		.nav > LI > A:hover{
			color:#020091;
			background-color:transparent;
			behavior: url(../../pie/PIE.htc);
		}

		.nav > LI > A:focus{
			background-color:transparent;
			behavior: url(../../pie/PIE.htc);
		}

		.search-box{
			position:absolute;
			top:0;
			right:0;
			line-height:34px;
			width:34px;
			height:34px;
			color:transparent;
			background:transparent;
			border:transparent;
		}

		.search-form{
			text-align: center;
			margin-top:10px;
			border-radius: 5px;
			behavior: url(../../pie/PIE.htc);
		}


		.btn-search{
			margin-left:5px;
			margin-top:8px;
			color:white;
			background-color:#2799D2;
			border: 1px solid #696;
    	padding: 5px 9px 5px 9px;
    	text-align: center;
    	border-radius: 25px;
			behavior: url(../../pie/PIE.htc);
		}

		.btn-search :hover{
			margin-left:5px;
			margin-top:8px;
			color:white;
			background-color:#2799D2;
			border: 1px solid #696;
			padding: 5px 9px 5px 9px;
			text-align: center;
			border-radius: 25px;
			box-shadow: #666 0px 2px 3px;
			behavior: url(../../pie/PIE.htc);
		}

		.btn-drop-profile{
			color: #333;
			background-color: #ffffff;
			border-color: transparent;
			padding-left: 40px;
		}

		.btn-drop-profile:hover,.btn-drop-profile:focus{
			color: #333;
			background-color: #ffffff;
			border-color: transparent;
		}
		.dropdown-menu{
			padding: 0px 0;
		}

		.dropdown-menu>li>a{
			padding: 10px 20px;
		}
		.dropdown-menu > LI > A:hover {
		    color: #262626;
		    text-decoration: none;
		    background-color: #DCF3FE;
		}
		.btn-drop-profile:after {
		    content: " ";
		}

		.img-profile{
			position: absolute;
			top: 3px;
			z-index: 10;
		}

		.img-profile img{
			width: 35px;
			height: 35px;
			border-radius: 25px;
			behavior: url(../../pie/PIE.htc);
		}

		.nav-badge{
			padding-right:15px !important;
			padding-bottom:5px !important;
			margin:0;
		}

		.badge{
			background-color: red;
			color:white;
			position:absolute;
			top:7px;
			right:5px;
			border-radius: 20px;
			behavior: url(../../pie/PIE.htc);
		}


		/*footer*/

		.footer-bottom{
			background-color:#2E345C;
			height:120px;
		}

		.footer-top{
			background-color:#2799D2;
		}

		.navbar-fixed-bottom{
			height:auto;
		}

		.footer-text-box{
			width:280px;
		}

		.footer-text {
			font-size: 18px;
			margin-bottom:3px;
		}

		.footer-sp{
			height:60px;
			width:60px;
		}

/*--------------------------
------- END  Index ---------
--------------------------*/









@media (max-width: 1024px) {

}


@media (max-width: 768px) {

}


@media (max-width: 414px) {

}


@media (max-width: 375px) {

}


@media (max-width: 320px) {

}
